{% extends "main.html" %}
{% block title %}Pups Adopt{% endblock %}


<!--Page identifier-->
{%set page = "adopt" %}

 {% block container %}
<div class="container p-t-1">
  <h3 id="about" class="display-4 text-xs-center m-y-2 text-muted">Helping is what we do</h3>
  <!-- about -->
  <div class="row">
    <div class="col-lg-4 col-lg-push-4">
      <img class="m-b-1 img-fluid img-rounded hidden-xs-down" src="/static/images/elpaso.jpg" alt="El Paso, Texas">
      <p class="about-text">
        Lost and Found Pets in El Paso helps pets and pet owners in our community reunite when they become separated. We accomplish our mission by using social media to create awareness in the El Paso metro area.
      </p>
    </div>
    <div class="col-lg-4 col-lg-pull-4">
      <h5 class="m-t-1 ">We are Social</h5>
      <p class="about-text">
        We use social media marketing to create awareness in our community when a pet is lost or found.
      </p>
    </div>
    <div class="col-lg-4">
      <h5 class="m-t-1  ">How you can help</h5>
      <p class="about-text">
        The easiest way to help is to simply like our Facebook page, and like, share or react to one of our posts. When you take those actions, you help spread the word.
      </p>

      <p class="about-text">
        You help us with funding to our <a href="https://www.gofundme.com/lost-and-found-pets-in-el-paso-2v46wrbj">gofundme</a> campaign.
      </p>    
    </div>
  </div><!-- /about -->
 
  <!-- Finding a Pet -->
  <div class="row p-t-2">
    <h1 id= "searching" class="display-4 text-xs-center m-y-1 text-muted">Finding your Pet</h1>
    <div class="col-lg-4 ">
      <h5  class="m-b-1 search-icons"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        Get the Word Out
      </h5>
      <p>
        Letting your friends and family know through social media or any other means will maximize the amount of eyes that can help you with your search. 
      </p>
    </div>
    <div class="col-lg-4 ">
      <h5  class="m-b-1 search-icons"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Searching
      </h5>
      <p>
        When you have a family member roaming the streets you want to be as effective as possible to reduce the time they are in danger. A good start to your search is with other local <a data-toggle="modal" data-target="#pages"> pages </a> <a data-toggle="modal" data-target="#groupmodal">groups</a> and <a data-toggle="modal" data-target="#agencies">agencies</a>.
      </p>
      
    </div>

    <div class="col-lg-4 ">
      <h5 class="m-b-1 search-icons"><span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Posts that work</h5>
      <p>
        When selecting images for your posts or flyer's, choose full body photo’s that capture distinctive features of your loved one. Include any facts pertaining to your post such as, the cross streets (or area your pet was lost), breed, color and name, and any distinguishing features. Include all facts that will make it easy to identify your pet.
      </p>
    </div>
   </div>
</div>
  <!-- Button trigger modal -->

<!-- Modal groups -->
      <div class="modal fade" id="groupmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-titl text-muted" id="myModalLabel">Facebook Groups</h4>
            </div>
            <div class="modal-body">
            <a href="https://www.facebook.com/groups/785181121596689/" class="card-link text-primary ">P.A.W.S.: Preservation of Animal Welfare Society- El Paso, Tx (No-Kill)</a>
            <a href="https://www.facebook.com/search/str/HORIZON%2FEAST+EL+PASO+pets/keywords_top" class="card-link text-primary">Horizon/East El Paso Pets</a>
            <a href="https://www.facebook.com/groups/294664420705800/" class="card-link text-primary  ">Lost, found and Reunited Pets of El Paso, Texas</a>
            <a href="https://www.facebook.com/groups/1434846540073343/" class="card-link text-primary ">Dogs and Cats at El Paso Animal Services</a>
            <a href="https://www.facebook.com/groups/ElPasoPetsLostAndFound/" class="card-link text-primary  ">EP Lost Pet's N'Resources</a>
            <a href="https://www.facebook.com/groups/1466857800228003/" class="card-link text-primary  ">Let's help rescue Pets- El Paso Tx</a>
            <a href="https://www.facebook.com/groups/LostandFoundAnimalsofElPaso/" class="card-link text-primary  ">Lost and Found Animals of El Paso</a>
            <a href="https://www.facebook.com/groups/1601603160056673/" class="card-link text-primary  "> class="card-link"Perros, Gatos en adopcion, ayuda y mas (No ventas de animales)</a>
            <a href="https://www.facebook.com/groups/1417632955144455/" class="card-link text-primary  ">Help find a good home for El Paso dogs</a>
            <a href="https://www.facebook.com/groups/430912793726807/" class="card-link text-primary  ">Adopting Pets El Paso </a>
            <a href="https://www.facebook.com/groups/495762807174796/" class="card-link text-primary  ">Lost Pets Of El Paso TX</a>
            <a href="https://www.facebook.com/groups/827676370628289/" class="card-link text-primary  ">El Paso's Voice for Animals</a>
            <a href="https://www.facebook.com/groups/EPSafeRehoming/" class="card-link text-primary  ">Humane and Safe Rehoming in El Paso</a>
            <a href="https://www.facebook.com/groups/424215601066212/" class="card-link text-primary  ">No Kill Zone Animal Advocates, El Paso, Texas</a>
            <a href="https://www.facebook.com/DamesforDogs/?fref=ts" class="card-link text-primary  ">Dames for Dogs</a>
            <a href="https://www.facebook.com/groups/1487635238143600/" class="card-link text-primary ">El Paso /Fort Bliss Animal Adoption and Rehoming</a>
            <a href="https://www.facebook.com/groups/477386325674747/" class="card-link text-primary  ">Adoptable Pets of El Paso</a>
            <a href="https://www.facebook.com/groups/477386325674747/" class="card-link text-primary  ">Adoptable Pets of El Paso</a>
            <a href="https://www.facebook.com/groups/588907644570159/" class="card-link text-primary  ">El Paso Pet Finder and Adoptions</a>
            <a href="https://www.facebook.com/groups/586314661412035/" class="card-link text-primary  ">Lost &amp; Found Pets of El Paso</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
  <!-- Modal Pages -->
  <div class="modal fade" id="pages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-muted" id="myModalLabel">Pages</h4>
        </div>
        <div class="modal-body">
          <a href="http://elpaso.craigslist.org/search/pet" class="card-link text-primary "> El Paso Craig's List /Pet</a>
          <a href="https://elpaso.craigslist.org/search/laf" class="card-link text-primary ">El Paso Craig's list Lost and Found</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

      <!-- Modal agencies-->
  <div class="modal fade" id="agencies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
 
          <h4 class="modal-title" id="myModalLabel">Animal Services</h4>
        </div>
        <div class="modal-body">
          <a href="https://www.elpasotexas.gov/animal-services/find-my-pet">City of El Paso Animal Services</a>
        </div>
 
      </div>
    </div>
  </div>

  <!-- Ads -->
    <div class="row p-t-2">
      <h1 id="searching" class="display-4 text-xs-center m-y-2 text-muted">Running an Ad</h1>
      <div class="col-lg-4">
        <h5 class="m-b-2">What is an Ad?</h5>
        
        <p class="searching-text">
          Ads give people the power to boost posts so they show up as 'Sponsored' on our follower’s and their friend’s news feeds. We will target a five mile radius around the location provided. If we are running an Ad for you, we will also pin your post to the top of our news feed to maximize exposure. We may also choose to use the picture provided as our profile picture to create even greater exposure. An Ad is a tool you can use to reach more people.
        </p>
      </div>
      <div class="col-lg-4">
        <h5 class="m-b-2">Maximize a Post's Reach</h5>
        <p>
          When a page shares a post, it gets shared along with any other posts created by Pages and people. Because people usually have lots of content displayed, posts sometimes are not seen. When we run an Ad on a post it is displayed at the top of news feeds. With an, Ad people that live in our target area will see that post as 'Sponsored'.
        </p>
      </div>
      <div class="col-lg-4">
        <h5 class="m-b-/2">Area Specific</h5>
        <img class="m-b-1 img-fluid img-rounded m-x-auto" src="/static/images/pindrop.jpg" alt="GPS Targeting in El Paso">
        <p>
          When we create a post, it will be shared with all our page followers and it may be seen by some, but missed by others if they did not scroll down their news feed far enough to see it. When we run an Ad, the vast majority of people will still see it based on where the post lands on their news feed, but a select few that matter the most will see it as 'Sponsored' because of where they live or are at.
        </p>
      </div>
    </div>
    <!-- /ads -->
<div class="modal fade" id="paymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Run it!</h4>     
            <p class="card-text">Enter the name of the person that created the post. You will receive a confirmation email and a reach report at the end of the Ad campaign.</p>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div id="faqs" class="jumbotron jumbotron-fluid bg-info jumbotron-faq">
      <div class="container text-sm-center p-t-3">
        <h1  class="display-2">FAQ's</h1>
        <p  class="lead">Frequently asked questions.</p>
     </div>
    </div>
    <div class="row p-t-2">
      <div class="col-lg-12">
        <h4 class="h4">How do I use your page?</h4>
        <p class="text-muted">Simply by following us on <a href="https://www.facebook.com/LostandFoundPetsInElPaso/">Facebook</a>. Anyone can post on our page to get help with a pet that is found or is lost. Once you go to our home page and post to it, you will be able to see your post in the <a href="https://www.facebook.com/LostandFoundPetsInElPaso/posts_to_page/">Visitor Posts</a> section of our page. It will be there until we share your post with our page or remove it.</p>
      </div>
      <div class="col-lg-12">
        <h4 class="h4">Why was my post deleted?</h4>
        <p class="text-muted">That post did not meet our rules and it was removed. Keep in mind that any post that does not follow page our user <a data-toggle="modal" data-target="#rules">post rules</a> will get removed.</p>  
      </div>
      <div class="col-lg-12">
        <h4 class="h4">Do I need run an Ad to use your page?</h4>
        <p class="text-muted"> No, an Ad is an option available for our followers and in now way a must. What an Ad does is that it gives us greater reach. We can insure that a post is on top of our followers and their friends news feeds. This option has shown a 45% success rate!</p>
        </div>
        <div class="col-lg-12">
          <h4 class="h4">How do I get my pet back?</h4>
          <p class="text-muted">If your pet has been found, congrats! You have two ways of getting in contact with the person that found your pet, you can use Facebook Messages to send that person an IM or reply on the original post and tag the persons name in your text so they get notified. Sometimes phone numbers are included too.</p>
      </div>
      <div class="col-lg-12">
        <h4 class="h4">Can I re-home a pet on your page?</h4>
        <p class="text-muted">Our page is not intended to be used to re-home pets, however if you found a pet and you are attempting to find its owners or someone that can help foster the pet while its family is found is fine.</p>
      </div>
    </div>
  <div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Post Rules</h4>
                  
                  <p class="card-text">The following rules apply to all Posts on our page. We reserve the right to remove any image that does not follow our page rules.</p>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="tag tag-default tag-pill float-xs-right">1.</span>
                      Images or videos must be original. (No Screen Shots or Images of other Posts)
                    </li>
                    <li class="list-group-item">
                      <span class="tag tag-default tag-pill float-xs-right">2.</span>
                      DRY images. (Posts will not be shared if they contain the same image from a previous post)
                    </li>
                    <li class="list-group-item">
                      <span class="tag tag-default tag-pill float-xs-right">3.</span>
                      All posts should meant be to find a pet or notify the page of a found one in the El Paso metro area.
                    </li>
                    <li class="list-group-item">
                      <span class="tag tag-default tag-pill float-xs-right">4.</span>
                      The location where the pet was lost or found must be included.
                    </li>
                  </ul>
              </form>
             </div>
           </div>
        </div>
      </div>


</div><!-- /.container -->
 {% endblock %}