{% extends "main.html" %}
{% block title %}Pups Adopt{% endblock %}


<!--Page identifier-->
{%set page = "adopt" %}
 {% block container %}
<!-- /nav -->
    <!-- jumbotron -->
    <div class="jumbotron jumbotron-main jumbotron-fluid bg-info">
      <div class="container text-sm-center p-t-3">
        <h1 class="display-2">Lost and Found Pets in El Paso</h1>
        <p class="lead">A community page with a mission!</p>
        <!-- EO Button -->
      </div>
    </div>    
    <!-- /jumbotron -->
 
 {% endblock %}