{% extends "main.html" %}
{% block title %}Pups Adopt{% endblock %}




 {% block container %}
<h1>{{area.capitalize()}}</h1>
<div class="container">
	<a class="btn btn-outline-success" href='{{url_for('post', status=status)}}'>Post to Page</a>
	<div class="row">
	{% for pet in pets %}
		<div class="card card-outline-primary col-sm-6 col-md-4">
			<div class="thumbnail">
				<img class="card-img-top img-responsive" src="{{pet.picture}}" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">{{pet.name}}</h4>
					   <p class="card-text">{{pet.description}}</p>
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item"><bold>Animal Type: </bold>{{pet.animal_type}}</li>
					    <li class="list-group-item"><bold>Breed: </bold>{{pet.breed}}</li>
					    <li class="list-group-item"><bold>Gender: </bold>{{pet.gender}}</li>
					    <li class="list-group-item"><bold>Zip Code: </bold>{{pet.zipcode}}</li>
					  </ul>
					</div>
				  <div class="card-block">
				    <a href="#" class="card-link">Update</a>
				    <a href="#" class="btn btn-primary">Is Back Home!</a>
				</div>
		  </div>
		</div>
	{% endfor %}
	</div>

</div>

{% endblock %}