<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    {% block head %}
    
    {% endblock %}
      
  </head>
  <title>Lost and Found Pets in | {% block title %}{% endblock %}</title>
  <body>
    <div class="container">
      <!-- navbar-->
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href='{{url_for('home')}}'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{url_for('about')}}'>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{url_for('status', area="all", status="lost")}}'>Lost</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{url_for('status', area="all", status="found")}}'>Found</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{{url_for('status', area="all", status="on")}}'>On the Run!</a>
            </li>
          </ul>
          <form class="form-inline float-xs-right">
            <a class="btn btn-outline-success" href='{{url_for('showLogin', area='all')}}'>Log in</a>

          </form>
        </div>
      </nav>
      {% block container %}

      {% endblock %}
      <footer class="footer mx-auto">
        <div class="container">
          <a class="text-muted" href="http://facebook.com/lostandfoundpetsinelpaso">Lost and Found Pets in | El Paso</a>
        </div>
      </footer>
    </div>
      {% block scripts %}

      {% endblock %}
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

  </body>
</html>