
/*********
*
*
* <nav>
*
*
********/
.nav-names {
	font-family: 'Playfair Display SC', serif;
  }

.main-image {
    height: 800px;
    position: absolute;
    left: -200px;
    top: -70px;
    z-index: -1;
}
.jumbotron-fluid{
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0);

}