{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

<!--Page identifier-->
{%set page = "login" %}

{% block content %}
<div class="row">
	<div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    	<h2>Log In</h2>
      	<p>Before you can ddopt or reHome a pet we need to know who you are. Use your existing Log in information for Google or Facebook to get started.</p>
      	<p><a class="btn btn-primary" href="#" role="button">Sign In &raquo;</a></p> 
    </div>
    <div class="col-lg-4">
    </div>     
 </div>
 {% endblock %}