{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

{% block content%}
<nav>
	<ul class="pager">
	<li class="previous" id = "back"><a href="{{url_for('pupsSearch')}}"><span aria-hidden="true">&larr;</span>Back</a></li>
<hr>
</nav>
 
<h2>Search Results</h2>
<div class="list-group">

  	{% for pup, shel in puppy_list %}
    <div class="list-group-item active">

      <h2 class="list-group-item-heading">{{ pup.name }}</h2><hr>
      <h5>Gender:</h5><p class="list-group-item-text"> {{ pup.gender }}</p>
      <h5>Age:</h5><p class="list-group-item-text"> {{ pup.dateOfBirth }}</p>
      <h5>Shelter:</h5> <p class="list-group-item-text">{{ shel.name }}</p><br>
       <p><a class="btn btn-primary" href="{{url_for('pupsAdopt', shelter_id=shel.id, pup_id=pup.id, pup_name = pup.name, shel_name = shel.name, puppy_list=puppy_list) }}" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Adopt</a></p> 
    </div>
    {% endfor %}
</div>

{% endblock %}