{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

{% block content%}
<nav>
	<ul class="pager">
		<li class="previous" id = "back"><a href="{{url_for('pupsSearch')}}"><span aria-hidden="true">&larr;</span>Back</a></li>
	</ul>
<hr>
</nav>
 
<h2>Search Results</h2>
  <div class="list-group">
    <div class="list-group-item active">
      <h2 class="list-group-item-heading">{{ name }}</h2><hr>
      <h5>Gender:</h5><p class="list-group-item-text"> {{ gender }}</p>
      <h5>Age:</h5><p class="list-group-item-text"> {{ age_option }}</p>
      <h5>Shelter:</h5> <p class="list-group-item-text">{{ shelter_id }}</p><br>
       <p><a class="btn btn-primary" href="{{url_for('pupsSearch')}}" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Adopt</a></p> 
    </div>

{% endblock %}