<!doctype html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='styles.css') }}'>
  </head>
  <body>
    <!-- Declaring the main container -->
    <div class="container">
      <header class="nav-head">
        <img class="img-responsive logo" src="/static/images/udacity-logo.png" alt="Udacity logo">
        <div class="programmer">
          <h1 class="name">
            David A Negrete
          </h1>
          <h4 class="title">
            Full Stack Developer
          </h4>
        </div>
      </header>
      <div class="gal-ban">
        <div class="gal-ban-item" >
          <img class="img-responsive main-img" src="/static/images/programming.jpeg" alt="Coding is what I do and love.">
        </div>
      </div>
      <div class="port-gal">
        <div class="port-gal-item gal-item-1">
          <h4 class="port-gal-head">
            Movie Majic 
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/movie-trailer.jpeg" alt="Portfolio page layout">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              For this project I was asked to render a template provided by Udacity and was asked to customized it to include my favorite movies. In the layout O  Python web server. Youtube links were used to provide users with a preview of my favorite movies.
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div>   
        </div>          
        <div class="port-gal-item gal-item-2">
          <h4 class="port-gal-head">
            Multi User Blog
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/blog.jpeg" alt="User blog project">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              For this project I created a multi user blog where users can sign in and post blog posts and 'like' and 'Comment' on other posts made on the blog. Additionally an authentication system was created. This project is hosted using Google App Engine</p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div>
        </div>
        <div class="port-gal-item gal-item-3">
          <h4 class="port-gal-head">
            Tournament Results
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/tournament.png" alt="Coding is what I do">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              For this project I was asked to create a database and schema to store game matches between players. To complete this project it was necessary for me to write queries on the datebase to determine a winner. The database used was Postgres SQL. 
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div>
        </div>
        <div class="port-gal-item gal-item-4">
          <h4 class="port-gal-head">
            Item Catalog
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/catalog.jpg" alt="Coding is what I do">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              For this project I created an web application that allows users to store dogs in shelters or create shelters add them in. Useres are authenticated authenticate using an OATH2 provider. Any visitor can see dogs but only registered useres can adopt.
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
            </p>
          </div>
        </div>
        <div class="port-gal-item gal-item-5">
          <h4 class="port-gal-head">
            Neighboorhood Map
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/map.jpeg" alt="Coding is what I do">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              For this project a single page application featuring a map of my neighborhood was created, it allows users to leave map markers, use a search function and they are also provided with a list to view all the points of interest. 
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div>
        </div>
        <div class="port-gal-item gal-item-6">
          <h4 class="port-gal-head">
            Design a Game
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/api.jpeg" alt="Coding is what I do">
          <div class="port-gal-text">  
            <p class="port-gal-desc">
              For this project a back-end API was created with endpoints that allows for a front-end to be easily created. This project was completed using DataStore and Google App Engine. This requires user authentication using a goolge account. 
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
            </p>
          </div>
        </div>
        <div class="port-gal-item gal-item-7">
          <h4 class="port-gal-head">
            Linux Server Configuration
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/linux.jpeg" alt="Coding is what I do">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              I took a baseline installation of a Linux distribution on a virtual machine and prepared it to host my own web applications, to include installing updates, securing it from a number of attack vectors and installing/configuring web and database servers.
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div>  
        </div>
        <div class="port-gal-item gal-item-8 ">
          <h4 class="port-gal-head">
            The Portfolio
          </h4>
          <img class="img-responsive port-gal-img" src="/static/images/portfolio.jpeg" alt="Portfolio page layout">
          <div class="port-gal-text">
            <p class="port-gal-desc">
              To complete this project I was provided with a mockup and asked to replicate and enhance it. I created the layout using Flexbox and some Twitter Bootstrap. Users get different content based on the viewport width of the device they are using to view the site.
            </p>
            <div class="port-gal-repo">
              <h3 class="repo-head">
                GitHub
              </h3>
              <p class="repo">
                <a href="https://github.com/DavidANegrete" class="repo-dir">
                  /DavidANegrete</a><a href="https://github.com/DavidANegrete/Full_Stack" class="repo-name"> /Full_Stack</a><a href="https://github.com/DavidANegrete/Full_Stack/tree/master/vagrant/portfolio" class="repo-tag"> /portfolio</a>
              </p>
            </div>
          </div> 
        </div>          
       </div>
      </div>
     </div>
   </div>
      <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
  </body>
</html>