{% extends "main.html" %}



{% block body %}
<div class="container">
  <nav class="navbar navbar-light navbar-toggleable-md bd-navbar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand " href="">D'Licious Nails</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-item nav-link nav-names" href="#">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link nav-names" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link nav-names" href="#">Appointments</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-item" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Book Now!</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Darma (Advanced Artist)</a></a>
                <a class="dropdown-item" href="#">Darinka (Nail Artist)</a>
                <a class="dropdown-item" href="#">Alex (Pedicure Service)</a>
              </div>
            </li>
          </ul>
        </div>
  </nav>
</div>
 <!-- /.container -->
 <div class="jumbotron jumbotron-fluid">
  <div class="container" >

    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <img class="img-responsive " src="/static/images/logo.svg">
    <img class="img-responsive main-image" src="/static/images/front_door_DLiciousNails.jpg">
  </div>
</div>



{% endblock %}



