{% extends "main.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What we are about
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Nail art the way you want it!</h1>
          <p class="lead">We are a not your average "nail salon" we are a nail art studio. 
            Our artists specialize in creating unique works of art for each guest.</p>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="card-title ">Nail Art Pricing</h4>
              <p class="card-text ">
                  Like many other artist do, we set the price for a piece of art according to the time, effort and skill needed to complete it. Skill varies from artist to artist and so do our hourly rates. There are five different artist types representing our studio, from the very advanced Master Artist Educator to Junior Nail Artists that are starting their nail art career. One thing remains consistent with all artist at our studio and that is their desire to get better at their craft.</p>
            </div>
          <div class="col-sm-6">
              <h4 class="card-title">Types of Artists</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Junior Nail Artist</li>
                  <li class="list-group-item">Nail Artist</li>
                  <li class="list-group-item">Advanced Nail Artist</li>
                  <li class="list-group-item">Master Nail Artist</li>
                <li class="list-group-item">Master Artist Educator</li>
                </ul>
          </div>
    </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Get in contact with us
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>We are waiting to hear from you about anything nail art related. </p>
                <h5 class="card-title">By email</h5>
                  <p class="card-text">Owner/Advanced Nail Artist:<br> <a href="mail">Undarmaa "Darma" Baasandorj</a></p>
                  <p class="card-text">Nail Artist:<br><a href="mail"> Darinka Poggio</a></p>
                  <p class="card-text">Technical Issues with the page:<br> <a href="mail">David Negrete</a></p>
          </div>
          <div class="col-sm-6">
            <p>We are located inside of Milan Salon and Day Spa. Just follow the glitter to find us.</p>
            <div id="map" style="width:100%;height:300px">

            </div>
            
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>



{% block scripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoQVCY5TWE4LORj40IFxfsNgTxMOn3Hxw&callback=myMap"
  type="text/javascript"></script>
<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var myCenter = new google.maps.LatLng(31.771540, -106.330580); 
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}
</script>

{% endblock %}
{% endblock %}


