<html>
<head>
	<title>Edit Menu</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1>Edit the {{restaurant.name}}'s following item: </h1>
		<div>
			<form action = '{{url_for('newMenuItem', restaurant_id=restaurant_id, restaurant=restaurant)}}' method='post'>
				<input type='text' size='30' name='name' placeholder='{{menuItem.name}}' value = '{{menuItem.name}}'><br>
				<input type='text' size='30' name='description' placeholder='{{menuItem.description}}' value = '{{menuItem.description}}'><br>
				<input type='text' size='30' name='price' placeholder='{{menuItem.price}}' value = '{{menuItem.price}}' ><br>
				<input type='text' size='30' name='course' placeholder='{{menuItem.course}}' value = '{{menuItem.course}}'><br>
				<input type='submit' value='Edit'>				
			</form>
		</div>
	


</body>
</html>