<html>
<head>
	<title>Add A New Item</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1>Add a new item for {{restaurant.name}}</h1>
		{% for item in items %}
		<div>
			<form action = '{{url_for('newMenuItem', restaurant_id=restaurant_id, restaurant=restaurant)}}' method='post'>
				<input type='text' size='30' name='name' placeholder='New Iten Name'  ><br>
				<input type='text' size='30' name='description' placeholder='Description' ><br>
				<input type='text' size='30' name='price' placeholder='Price' ><br>
				<input type='text' size='30' name='course' placeholder='Course'><br>
				<input type='submit' value='Create a new Item'>				
			</form>
		</div>
	

</body>
</html>